$red: #ed1c24;
$theme-color: #fff;
$gray: rgba(0, 0, 0, .65);
$theme-gray: #424242;

$font-family: 'RobotoMono', "Roboto", sans-serif;
$c-header-about-benefit: rgba(198, 28, 35, 1);
$c-white: white;
$c-border-imageBenefit: rgba(0,0,0,.08);
$c-black: black;
$c-border: #e5e5e5;
$c-text: #464545;
$c-bg-vote: #EEE;