@import "../../common/styles/variables";

.content.about {
    .description {
        display: block;
        margin: 20px 10px;
    }

    .info {
        margin: 20px 0;

        .discount {
            margin: 0 0 12px;
        }

        .location {
            cursor: pointer;
        }
    
        .dialog {
            .content {
                padding: 10px 24px 20px;
            }
    
            .email {
                width: 100%;
            }
    
            .hint {
                margin-bottom: 10px;
            }
    
            .textarea {
                width: 400px;
                max-width: 100%;
                margin-top: 10px;
    
                textarea {
                    resize: none;
                }
            }
    
            .button-block {
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;
    
                .action {
                    margin-left: 10px;
                }
            }
        }
    
        // a {
        //     color: #1976D2;
    
        //     &:hover {
        //         color: #1565C0;
        //     }
    
        //     &:focus {
        //         color: #0D47A1;
        //     }
    
        //     &:visited {
        //         color: #7B1FA2;
        //     }
        // }
    }

    hr {
        color: rgba($color: #000000, $alpha: 0.12);
    }

    .subtitle {
        font-weight: bold;
        margin-right: 15px;

        //    color: rgba($color: #000000, $alpha: .6);
   
    }
}
